{% load staticfiles %}
<head>
  <title>{% block title %}{% endblock %}</title>

  <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'css/materialize/js/materialize.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize/css/materialize.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
</head>

<nav>
  <div class="nav-wrapper  green darken-1">
    <a href="#!" class="brand-logo">Textnook</a>
    
  </div>
</nav>
<a href="/predict/upload/" target = "_blank">Batch predictions</a>
</br>
<a href="/admin/predict/prediction/add/" target = "_blank">Single predictions. Click save after adding book title</a>
{%block content %}
{% endblock %}





<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src = "{% static 'css/materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/base.js' %}"></script>